<head>

  <meta charset="UTF-8">

  <title>{{ page.title | default: site.title }}</title>

  <meta name="description" content="{{ page.content | default: page.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">

  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.content | default: page.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:image" content="{% if page.facebook_image_path %}{{ page.facebook_image_path }}{% elsif page.featured_image_path %}{{ page.featured_image_path }}{% else %}{{ site.url }}/images/default.jpg{% endif %}">

  {% if site.google-plus %}<link rel="author" href="{{ site.google-plus }}">{% endif %}

  <meta http-equiv="x-dns-prefetch-control" content="on">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="{{ site.url }}/css/style.css">

</head>
