*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: $body-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  color: #222;
}

p {
  margin-top: 0;
  margin-bottom: 25px;
  word-break: break-word;
}


/* Links
-------------------------------------------------- */
a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    color: $primary-color-hover;
  }

}


/* Lists
-------------------------------------------------- */
ol,
ul {
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 20px;
  -webkit-padding-start: 0;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: disc inside;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 15px 0 15px 30px;
}

li {
  margin-bottom: 10px;
}


/* Quotes
-------------------------------------------------- */
blockquote {
  max-width: 680px;
  margin: 16px 0;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
  border-left: 5px solid #e5e5e5;
}
@media (min-width: 400px) {
  blockquote {
    padding-right: 60px;
  }
}

blockquote::before {
  display: block;
  position: relative;
  top: -10px;
  left: -20px;
  height: 0;
  font-size: 40px;
  content: '“';
}

blockquote p {
  padding: 0 !important;
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote,
blockquote::before,
blockquote p {
  color: #555;
}


/* Selection
-------------------------------------------------- */
::-moz-selection {
  color: #fff;
  background-color: $primary-color;
}

::selection {
  color: #fff;
  background-color: $primary-color;
}


/* Utilities
-------------------------------------------------- */
.text-center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}
