.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
  justify-content: space-between;
}

.one-half {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  @media (min-width: 550px) {
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
  }
}

.one-third {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  @media (min-width: 750px) {
    -ms-flex-preferred-size: 30.6666666667%;
    flex-basis: 30.6666666667%;
  }
}

.two-thirds {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  @media (min-width: 750px) {
    -ms-flex-preferred-size: 65.3333333333%;
    flex-basis: 65.3333333333%;
  }
}

.one-fourth {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  @media (min-width: 550px) {
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
  }
  @media (min-width: 1000px) {
    -ms-flex-preferred-size: 22%;
    flex-basis: 22%;
  }
}

.three-fourths {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  @media (min-width: 1000px) {
    -ms-flex-preferred-size: 74%;
    flex-basis: 74%;
  }
}
