.one-half {
  @media (min-width: 550px) {
    float: left;
    width: 48%;
    margin-left: 4%;
  }
}

.one-third {
  @media (min-width: 750px) {
    float: left;
    width: 30.6666666667%;
    margin-left: 4%;
  }
}

.two-thirds {
  @media (min-width: 750px) {
    float: left;
    width: 65.3333333333%;
    margin-left: 4%;
  }
}

.one-fourth {
  @media (min-width: 550px) {
    float: left;
    width: 48%;
    margin-left: 4%;
  }
  @media (min-width: 1000px) {
    width: 22%;
  }
}

.three-fourths {
  @media (min-width: 1000px) {
    float: left;
    width: 74%;
    margin-left: 4%;
  }
}

.first {
  margin-left: 0;
  clear: both;
}

.first-at-half {
  margin-left: 0;
  @media (min-width: 1000px) {
    margin-left: 4%;
  }
}
