.sidebar {
  width: 100%;
  @media (min-width: 1000px) {
    // float: right;
    // width: 300px;
    flex-basis: 300px;
  }
  @media (min-width: 1340px) {
    // width: 360px;
    flex-basis: 360px;
  }
}

.sidebar li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
  margin-bottom: 0;
}

.sidebar .widget {
  margin-bottom: 40px;
  background-color: #fff;
}
