$body-font: Raleway, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-code: 'Oxygen Mono', monospace;

$primary-color: #1eaedb;
$primary-color-hover: #0fa0ce;

$secondary-color: #fff;
$secondary-color-hover: #fff;

$button-text-color: #fff;
$button-text-color-hover: #fff;

$button-background-color: #33c3f0;
$button-background-color-hover: #1eaedb;
